<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title th:text="'Restaurant: '+ ${modelRestaurant.getTitle()}"></title>
</head>

<body>
	
	<!-- Header -->
	<header>
		<h1>WCCI Restaurant Reviews</h1>
	</header>

	<div id="container">

	

		<!-- h2 -->

		<h2>Columbus Restaurants</h2>
		
		<p th:text="${modelRestaurant.getTitle()}" />
		<p th:text="${modelRestaurant.getAddress()}" />



	</div>

</body>

</html>